body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-family: "fantasy", "copperplate";
    font-weight: bold;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 5px;
    background-image: url("poz.jpg.webp");
    min-height:100vh;
    height: 100%; width: 100%; background-size: cover; background-position: center; 
    text-align: center;
   
}
.hero {
    text-align:center;
    -webkit-text-size-adjust:auto;
    background-color:#00FF00;
    color: black;
    padding: 50px;
    font-family: fantasy;
}

.features, .about, .contact {
    margin-bottom: 300px;
}

.features ul {
    list-style-type: disc;
    padding-left: 20px;
    font-family: "fantasy", "papyrus";
    font-weight:bolder;
    color: black;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  .contact{
    text-align: center;
  }